.comics-section{
   background-color: #1C1C1C;
}

.card-container{
   width: calc(100%/6);
   padding: 10px;
}

.image-comic{
   width:200px;
   height:200px;
   object-fit:cover;
   object-position: top;
}