.blue-bar{
   height: 70px;
   background-color: #0082F9;
   position: relative;
}

.info-section{
   padding: 70px 0;
}

.comic-title{
   color: #003F5D;
}

.green-bar{
   background-color: #55BA59;
   border-bottom: 2px solid #357639;
}

.separator{
   border-right: 2px solid #357639;
}

.check-availability{
   color: white;
}

.separator div{
   color: #BCFC97;
}

.cover{
   position: absolute;
   top: 288px;
   border: 2px solid white;
}

.gallery{
   background-color: #01A9D9;
   font-size: 0.8rem;
   color: white;
   text-align: center;
}

.info2-section{
   background-color: #F6F6F6;
   padding: 40px 0 130px 0;
   border-top: 2px solid #E3E3E3;
   border-bottom: 2px solid #E3E3E3;
}

.image-title{
   color: #b4b4b4;
}

.prefooter-container{
   border-left: 2px solid #E3E3E3;
   padding: 15px;
}

.prefooter-container-last{
   border-right: 2px solid #E3E3E3;
}

.fake-img{
   height: 65px;
   width: 50px;
   border: 2px solid #E3E3E3;
   border-radius: 5px;
}