.comics-section{
   background-color: #1C1C1C;
}

.card-container{
   width: calc(100%/6);
   padding: 10px;
}

.image-comic{
   width:200px;
   height:200px;
   object-fit:cover;
   object-position: top;
}

.load-more-button{
   background-color: #0182F9;
   color: white;
   border: none;
   padding: 15px 50px;
   font-weight: 800;
}

.blue-bg {
   background-color: #0282f9;
   padding: 30px 0;
   color: white;
 }
 
 #blue-section-container {
   width: 75%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 
 .image {
   width: 20%;
   margin-right: 20px;
 }
 
 .image-svg {
   width: 20%;
 }
 
 .image-locator {
   width: 13%;
 }
 
 .center{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: calc(100%/5);
 }
 
 .element{
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .center-full {
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 span{
   font-size: 0.9rem;
 }